.backgroundofmodal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.backgroundofmodal .box {
  background-color: whitesmoke;
  border: 1px solid gray;
  top: 25%;
  left: 25%;
}
.backgroundofmodal .box .closebutton {
  height: 40px;
}
.backgroundofmodal .box .modalbody {
  background-color: #DDD;
}
