<section class="container row m-5 justify-content-center">
    <div class="card col-5 m-1">
        <img class="card-img-top mt-2 h-100" src="https://www.pixelprintshop.in/image/cache/catalog/pixel/Poster/pdf-printy-500x500.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Print Black and White (1 L.E)</h5>
          <p class="card-text">Printing all types of files black and white...</p>
          <a (click)="GotoUpload(false)" class="btn btn-primary">Print</a>
        </div>
    </div>

    <div class="card col-5 m-1">
        <img class="card-img-top mt-2 h-100" src="https://i.pinimg.com/originals/1c/9b/88/1c9b8885619c367baf86e4592d2ef291.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Print Colors (2 L.E)</h5>
          <p class="card-text">Printing all types of files Colored...</p>
          <a (click)="GotoUpload(true)" class="btn btn-primary">Print</a>
        </div>
    </div>
</section>