<footer class="w-100">
    <section class="row m-0 p-1 container">
        <div class="col">
            <h1>Elrouby Library</h1>
            <p>The best library to print your pdfs and words</p>

            <div class="d-flex icons">
                <a class="bi bi-facebook"></a>
                <a class="bi bi-messenger"></a>
                <a class="bi bi-whatsapp"></a>
                <a class="bi bi-instagram"></a>
                <a class="bi bi-youtube"></a>
            </div>
        </div>

        <div class="col-8 text-center">
            <h1>Contact US</h1>
            <p>You can send us a message from this form below...</p>
            <form class="form-group">
                <input placeholder="Name" class="form-control" type="text" name="" id="">
                <input placeholder="Email" class="form-control" type="email" name="" id="">
                <textarea class="form-control"></textarea>
                <button class="btn btn-success form-control">Send</button>
            </form>
        </div>
    </section>
    
</footer>